
html.pages {
  position: relative;
  min-height: 100%;
}
body.pages {
  margin-bottom: 160px; /* Margin bottom by footer height */
}
/* Sticky footer */

  .footer {
    position: absolute;
    width:100%;
    bottom: 0;
    height: 140px; /* Set the fixed height of the footer here */
    line-height: 10px; /* Vertically center the text there */
    background-color: $secondary-color;
    color: $white;
    overflow: hidden;
    display: block;
  }

  @media (max-width: 768px) {
    .footer {
      height: 210px;
    }
  }