/* Custom styling for innlogging */

html.login {
    height: 100%;
  }
  
  body.login {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  #bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  
  #bg img {
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 0.8;
  }
  
  .form-signin {
    width: 100% !important;
    max-width: 400px;
    padding: 25px;
    margin: 0 auto;
    background-color: $secondary-color-transparent;
    border-radius: 20px;
    font-weight: 500;
    color: $black;
    z-index: 1;
    .h3 {
      color: $black;
    }
    .p {
      color: $black;
      text-align: left;
    }
    .checkbox {
      font-weight: 400;
      color: $black;
    }
  
    .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
      &:focus {
        z-index: 2;
      }
    }
    button {
      border-color: $primary-color;
      font-weight: 600;
      &:hover {
        background-color: $primary-color-shade;
        border-color: $primary-color-shade;
      }
    }
    button.close {
      background-color: transparent;
    }
    input {
      &[type="name"] {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      &[type="password"] {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
    .fa-lock {
      color: $secondary-color;
    }
  
    .fa-user {
      color: $secondary-color;
    }
  }