.navbar{
    background-color: $secondary-color;

}

a.button{
    background-color: $white;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}