@media (max-width: 768px) {
    .btn-tronrud-primary {
      width: 100%;
      margin: 5px 0px;
    }
  }

.shopping-cart-icon {
  cursor: pointer;
}

@media (max-width: 768px) {
  .shopping-cart-icon {
    text-align: center;
    margin: 5px 0px;
  }
}