  //Custom colors:

  $primary-color: #ee3224; //red
  $primary-color-shade: #d62d20; //red
  $secondary-color: #575a56; // grey
  $secondary-color-transparent: rgba(87,90,86,.9);
  $black: #000000; //black
  $white: #ffffff; //white
  $half-black: rgba(black, 0.5);

  //Legger farger til i Bootstraps Theme
  $theme-colors: (
    "tronrud-primary": #ee3224,
    "tronrud-secondary": #575a56,
    "tronrud-primary-shade": #d62d20,
    "tronrud-secondary.transparent": rgba(87,90,86,.9),
    "black": #000000,
    "white": #ffffff
  );